:root {
    --page-bg: #141d2b;
    --primary: #ffee00;
    --text: #fcfffc;
    --accent: #3bb9b3;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: var(--page-bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

main {
    flex-grow: 1;
}

img {
    max-width: 100%;
}


.dark {
    background-color: var(--text);
    color: var(--page-bg);
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.justify-content-between {
    justify-content: space-between;
}

.gap {
    gap: 1rem
}


/* HEADER STYLES */

.nav-logo {
    margin: .5rem .75rem;
}

.active-link {
    color: var(--primary);
    font-weight: bold;
    text-decoration: underline;
}

/* MAIN SECTION */

.left {
    max-width: 45%;
    margin: 0 1.75rem;
    padding: 3rem;
}

.right {
    max-width: 48%;
}

.links {
    background-color: white;
    color: darkblue;
    text-decoration: underline;
}

button{
    color: #fcfffc;
    border: none;
    font-weight: 600;
    text-shadow: 0 0 1px var(--text);
    background: transparent;
    transition: 500ms linear;
}

button:hover{
    color: #fcfffc;
    cursor: pointer;
    filter: brightness(1.1);
}

.fancy-button{
    color: #fcfffc;
    background-color: var(--primary);
    color: var(--page-bg);
    padding: .75rem 1rem;
    border-radius: 20px;
    margin-right: 5px;
}

.flat-button:hover{
    filter: drop-shadow(0 -30px 0 #0000003c);
}

section{
    padding-right: 6px;
    margin-top: 75px;
}

.CenterCard{
    background-color: gray;
    text-align: center;
    
}